<div class = "col-3">
<% if product.genre.is_valid == true %>
  <%= link_to public_product_path(product.id), class: "btn-link", :style=>"color:#0099FF;" do %>
    <%= attachment_image_tag(product, :image, size: "180x130", fallback: "no_image.jpg") %><br>
    <%= product.name %>
  <% end %>

  <% if product.sale_status == true %>
    <p>¥<%= product.price.to_s(:delimited) %></p>
  <% elsif product.sale_status == false %>
    <p class="soldout">売り切れ中</p>
  <% end %>

<% end %>
</div>