<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
		<h2 class="product-headline head-line title_h2 text-center">
		商品一覧
		<span>
			(全<%= @products.total_count %>件)
		</span>
		</h2>
			<% @products.each do |product| %>
			  <%= render "product_individual", product: product %>
			<% end %>

		<div class="text-center"><%= paginate(@products) %></div>
	</div>
</div>