<div class="container m-5">
  <div class="row pt-4">
    <div class="col-md-3"></div>
    <h2>
      会員一覧
    </h2>
    <table class='table'>
      <thead>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @members.each do |member| %>
          <tr>
            <td><%= member.id %></td>
            <td><%= member.last_name %><%= member.first_name %></td>
            <td><%= member.email %></td>
            <td>
              <% if member.withdrawal_flag == true %>
                有効
              <% else %>
                無効
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>