<div class="container">
  <div class="row">
    <div class="mx-auto">
      <section id="about-main">
        <div class="container">
          <h1 class="about-main-title text-center">About</h2>
          <p class="abut-main-text text-center">
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションを誤用ししております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ぜひご注文ください。
          </p>
        </div>
      </section>
    </div>
  </div>
</div>