<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>新規商品登録</h2>
      <%= form_with model:@product, url: admin_products_path, local:true, method: :post, class: "form-horizontal" do |f| %>

        <%= render "layouts/error_messages", resource: @product %>

          <%= render "form_new_product", f: f %>
    	    <%= f.submit "新規登録", class: "btn btn-primary btn-lg pull-right" %>
      <% end %>
    </div>
  </div>
</div>